
.guesses {
	scale: 0.49375;
	transform-origin: top left;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.stimuli {
	/* margin-top: 20px; */
	background-image: url('/static/dothraki_stim/background_template.png');
	background-size: 800px 450px;
	width: 800px;
	height: 450px;
	position: relative;
}

.stimuli .brother {
	background-repeat: no-repeat;
	width: 800px;
	height: 2000px;
	transform: scale(0.18);
	position: absolute;
	left: -200px;
	bottom: -780px;
	background-position: bottom;
}

.stimuli .tent {
	background-repeat: no-repeat;
	width: 2500px;
	height: 3500px;
	transform: scale(0.10);
	position: absolute;
	left: -1050px;
	bottom: -1480px;
	background-position: bottom; 
}

.stimuli .rides {
	width: 2500px;
	height: 2500px;
	transform: scale(0.13);
	position: absolute;
	left: -700px;
	bottom: -1020px;
}


.stimuli .walks {
	width: 2500px;
	height: 2500px;
	transform: scale(0.2);
	position: absolute;
	left: -700px;
	bottom: -960px;
}

.stimuli .flip {
	background-repeat: no-repeat;
	transform: scaleX(-1);
	height: inherit;
	width: inherit;
	background-position: bottom; 
}


.stimuli .dontflip {
	background-repeat: no-repeat;
	height: inherit;
	width: inherit;
	background-position: bottom; 
}

img.avatar {
	width: 200px;
	height: 200px;
}


.my-avatar {
	/* left: 450px; */
	text-align: center;
	float: left;
	padding: 0 20px;
	/* padding: 0 20px 20px 20px; */
	/* top: -100px; */
	/* position: relative; */
}
.your-avatar {
	/* top: -100px; */
	text-align: center;
	float: left;
	/* padding-bottom: 20px; */
	/* left: 700px; */
	/* top: -340px; */
	/* position: relative; */
}

input#id_answer {
	max-width: 700px;
	width: 700px; 
}

div.answer {
	width: 800px;
}

.answer {
	font-size: 20px;
}

.guesses + p {
	margin-top: -400px;
}

.progress {
	width: 100%;
}

.mb-3 {
	float: left;
}

.mb-3 + p button {
	float: left;
	margin-top: 38px;
	margin-left: 36px;
}

.otree-body {
	/* margin: 0 10px; */
	max-width: 1260px !important;
	scale: 1.3;
	transform-origin: top;
}

#_otree-title {
	display: none;
}

._otree-content {
	display: flex;
	justify-content: flex-start;
	align-content: start;
	width: 1400px;
	margin-top: 20px;
	flex-shrink: 0;
}

#leftcol {
	margin-right: 20px;
	min-width: 440px;
	/* flex-shrink: 0; */
	/* flex: 60%; */
	/* min-width: 820px; */
	/* width: 820px; */
}

#rightcol {
	/* flex-shrink: 0; */
	min-width: 440px;
	/* flex: 30%; */
}


.grammar {
	width: 440px;
	/* height: 341px; */
	position: relative;
	/* left: 820px; */
	top: 30px;

	/* img gallery zoom */
	/* overflow: hidden; */
}


.grammar .card-body {	
	/* scale: 0.41; */
	/* transform-origin: top left; */
}

/* .grammar .card-body img { */
/* } */

.lexicon {
	position: relative;
	/* left: 820px; */
	top: 30px;
	width: 344px;
	/* height: 510px; */
}

.lexicon .card-body {
	/* width: 10212px; */
	/* scale: 0.03; */
	/* transform-origin: top left; */
	margin: 10px;
}

/* img zoom */
.grammar input[type=checkbox] {
	display: none;
}

.grammar img {
	width: 100%;
	transition: all 0.5s ease;
	cursor: zoom-in;
}

.grammar input[type=checkbox]:checked ~ label > img {
	transform-origin: right 70%;
	transform: scale(2.5);
	cursor: zoom-out;
}

.lexicon img {
	width: 100%;
	/* transition: all 0.5s ease; */
}

/* .lexicon:hover img { */
/* 	transform-origin: right; */
/* 	transform: scale(2); */
/* } */


/* correct and wrong icons */
img.green {
	filter: brightness(0) saturate(100%) invert(39%) sepia(98%) saturate(1331%) hue-rotate(136deg) brightness(86%) contrast(101%);
	scale:1.1;
	/* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(100%) contrast(119%); */

}

img.red {
	filter: brightness(0) saturate(100%) invert(40%) sepia(73%) saturate(3299%) hue-rotate(13deg) brightness(94%) contrast(101%);
	scale:1.1;
	/* filter: invert(14%) sepia(67%) saturate(7462%) hue-rotate(10deg) brightness(114%) contrast(133%); */

}
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */
[type=radio] + div {
	cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + div {
	outline: 10px solid #f3961c;
	opacity: 1 !important;
    filter: alpha(opacity=100) !important; /* msie */
	
}

/* speech bubble from https://codepen.io/mchernin34/pen/ojXvLq */

.triangle-isosceles {
  position:relative;
  padding:15px;
  /* margin:1em 0 3em; */
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-isosceles.left {
  /* margin-left:50px; */
  background:#f3961c;
  margin-right:8px;
}

.triangle-isosceles.right {
	/* margin-right:30px; */
	background:#f3961c;
}

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f3961c transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.triangle-isosceles.left:after {
  top:16px; /* controls vertical position */
  left:-49px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #f3961c;
}
.triangle-isosceles.right:after {
  top:16px; /* controls vertical position */
  right:-44px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:10px 0 10px 50px;
  border-color:transparent #f3961c;
}

p.msg {
	margin: 1.5rem 0;
}
.otree-wait-page {
	max-width: 600px;
}

.img-gallery {
  overflow: hidden;
}

.img-gallery img {
  transition: all 1.3s ease;
}

.img-gallery:hover img {
  transform: scale(1.2);
}
