{{ block title }}Learn Dothraki{{ endblock }}

{% block styles %}
<link rel="stylesheet" href="{{ static 'global/dothraki.css' }}" type="text/css">
{% endblock %}
{{ block content }}
<div id="leftcol">
  <div class="my-avatar">
	<p>You are ..</p>
	<img class="avatar" src="/static/dothraki_stim/avatar/{{ player.participant.avatar }}_avatar.png" />
  </div>
  <div class="your-avatar">
	<p>.. listening to</p>
	<img class="avatar" src="/static/dothraki_stim/avatar/{{ player.avatar_partner }}_avatar.png" />
  </div>

  <div class="clearfix"></div>

  <div class="card lexicon">
	<div class="card-header">
      Glossary
	</div>
	<div class="card-body">
	  <img src="/static/dothraki_stim/glossaries/{{ player.avatar }}_gloss.png" />
	</div>
  </div>
</div>

<div id="rightcol">
  <span>You received the message:</span>
  <p class="msg">
	<span class="triangle-isosceles left">
	  {{ player.group.answer }}
	</span>
	{{ if player.group.correct }}
	<img src="/static/icons/check-circle-fill.svg" class="green">
	{{ else }}
	<img src="/static/icons/x-circle-fill.svg" class="red">
	{{ endif }}
  </p>

{{ if player.group.correct }}
<p>You understood it correctly!</p>
{{ else }}
<p>You did not understand it correctly.</p>
{{ endif }}
{{ next_button }}

</div>


</div>

{{ endblock }}
