{{ block title }}Phase #2: Communication{{ endblock }}

{% block styles %}
<style>
.carousel-control-prev {
	left: -140px !important;
}

.carousel-control-next {
	right: -140px !important;
}

.carousel-indicators {
	bottom: -30px !important;
}
</style>
{% endblock %}

{{ block scripts }}
<script>
// adapted from https://blog.netgloo.com/2014/06/05/how-to-hide-carousel-controls-on-first-and-last-items-in-bootstrap-3/
var checkitem = function() {
  var $this;
  $this = $("#carouselExampleIndicators");
	if ($("#carouselExampleIndicators .carousel-inner .carousel-item:first").hasClass("active")) {
    $this.children(".carousel-control-prev").hide();
    $this.children(".carousel-control-next").show();
	} else if ($("#carouselExampleIndicators .carousel-inner .carousel-item:last").hasClass("active")) {
    $this.children(".carousel-control-next").hide();
    $this.children(".carousel-control-prev").show();
	} else {
    $this.children(".carousel-control-prev").show();
    $this.children(".carousel-control-next").show();
  }
};

checkitem();

$("#carouselExampleIndicators").on("slid.bs.carousel", "", checkitem);
</script>
{{ endblock }}


{{ block content }}

<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-wrap="false" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
	    <p>You are done with the Dothraki Language Learning Session – good job!</p>
      <p>You will now proceed to the Dothraki Communication Session. </p>
      <br />
      <p>Notice that here the rules change. In the learning session, it was all about being correct.</p>
      <p>In the communication session, however, it is more about communicating – that is, reaching mutual understanding with your partner! In other
        words, here you get positive feedback if your partner understands you, no matter if you spelled everything correct or perhaps made
        some mistakes.</p>
    </div>
    <div class="carousel-item">
	    <p>For the communication game, there are only three very important rules:</p>
	    <ul>
		    <li><b>Rule #1</b>: You are not allowed to use any word from a language other than Dothraki (e.g., English or Danish).</li>
		    <li><b>Rule #2</b>: You are not allowed to use names of characters from the TV series (e.g., Daenerys, or “Dany”, or “D”) to describe the scenes.</li>
		    <li><b>Rule #3</b>: You are not allowed to communicate by talking out loud or passing notes. Use the prompts on screen.</li>
	    </ul>
    </div>
    <div class="carousel-item">
	    <p>In each trial you will be paired with another participant from the ‘community’. You and your assigned partner will take turns being the communicator or the guesser.</p>
	    <p>If you are the communicator of a trial, you will see a scene from your perspective, similar to the ones from the training session and you have to communicate it to your partner by typing sentences in Dothraki in the chat interface.</p>
	    <p>If you are the guesser of the trial, you will receive a sentence in Dothraki from your partner along with four images of scenes. They have the same task of describing the scene from their perspective. Your task is to guess which of the four scenes your partner is describing in the sentence by clicking on the image. Both of you will get feedback indicating if your guess was correct.</p>
    </div>
    <div class="carousel-item">
	    <p>It is important to try and get as many trials correct as possible in the game. The communication game proceeds until a total of 2 hours have passed, but there may be a little bit of waiting in between some of them while your assigned partner plays with somebody else.</p>
	    <div class="my-avatar" style="margin: 0px auto; width: 200px; text-align: center;">
		    <p>You are playing as ..</p>
		    <img class="avatar" src="/static/dothraki_stim/avatar/{{ player.avatar }}_avatar.png" style="width: 200px; height: 200px;"/>
	    </div>
	    {{ next_button }}
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
  </button>
</div>



{{ endblock }}
