{{ block title }}Learn Dothraki{{ endblock }}


{% block styles %}
<link rel="stylesheet" href="{{ static 'global/dothraki.css' }}" type="text/css">
{% endblock %}

{{ block content }}


	
<div id="leftcol">
  <div class="my-avatar">
	<p>You are ..</p>
	<img class="avatar" src="/static/dothraki_stim/avatar/{{ player.participant.avatar }}_avatar+flag.png" />
  </div>
  <div class="your-avatar">
	<p>.. listening to</p>
	<img class="avatar" src="/static/dothraki_stim/avatar/{{ player.avatar_partner }}_avatar+flag.png" />
  </div>
  
  <div class="clearfix"></div>
  
  <div class="card lexicon">
	<div class="card-header">
      Glossary
	</div>
	<div class="card-body">
	  <img src="/static/dothraki_stim/glossaries/{{ player.avatar }}_gloss.png" />
	</div>
  </div>
</div>
<div id="rightcol">
  <h4>Which situation are they referring to?</h4>
  
  <p class="msg">
	<span class="triangle-isosceles left">
	{{ sentence }}
	</span>
  </p>
<div class="guesses">
  {{ for o in options }}
  <label>
	<input required type="radio" name="guess" value="{{o.value}}">
	<div class="stimuli">
	{{ if o.prompt.tent }}<div class="tent" style="background-image: url('/static/dothraki_stim/{{ o.prompt.tent }}');"></div>
	{{ elif o.prompt.brother }}<div class="brother" style="background-image: url('/static/dothraki_stim/{{ o.prompt.brother }}');"></div>
	{{ endif }}
	
	{{ if o.prompt.walks }}
	<div class="walks">
      <div class="{{ o.prompt.flip }}" style="background-image: url('/static/dothraki_stim/{{ o.prompt.walks }}');"></div>
	  {{ elif o.prompt.rides }}
	  <div class="rides">
		<div class="{{ o.prompt.flip }}" style="background-image: url('/static/dothraki_stim/{{ o.prompt.rides }}');"></div>
		{{ endif }}
	  </div>
	</div>
  </label>

	{{ endfor }}
	</div>

  
	{{ next_button }}

    


</div>



{{ endblock }}
