{{ block title }}Learn Dothraki{{ endblock }}


{% block styles %}
<link rel="stylesheet" href="{{ static 'global/dothraki.css' }}" type="text/css">
{% endblock %}

{{ block content }}
<div id="leftcol">
  
  <div class="stimuli">
	{{ if prompt.tent }}<div class="tent" style="background-image: url('/static/dothraki_stim/{{ prompt.tent }}');"></div>
	{{ elif prompt.brother }}<div class="brother" style="background-image: url('/static/dothraki_stim/{{ prompt.brother }}');"></div>
	{{ endif }}
	
	{{ if prompt.walks }}
	<div class="walks">
      <div class="{{ prompt.flip }}" style="background-image: url('/static/dothraki_stim/{{ prompt.walks }}');"></div>
	  {{ elif prompt.rides }}
	  <div class="rides">
		<div class="{{ prompt.flip }}" style="background-image: url('/static/dothraki_stim/{{ prompt.rides }}');"></div>
		{{ endif }}
	  </div>
	</div>
	
	<div class="mb-3 _formfield">
      <label class="col-form-label" for="id_answer">Describe the situation to your partner in Dothraki</label>
      <div class="controls">
		<input type="text" autofocus class="form-control answer" id="id_answer" name="answer" required="" value="">
      </div>
	</div>
	{{ next_button }}

    

</div>


<div id="rightcol">
  <div class="my-avatar">
	<p>You are ..</p>
	<img class="avatar" src="/static/dothraki_stim/avatar/{{ player.avatar }}_avatar+flag.png" />
  </div>
  <div class="your-avatar">
	<p>.. talking to</p>
	<img class="avatar" src="/static/dothraki_stim/avatar/{{ player.avatar_partner }}_avatar+flag.png" />
  </div>
  
  <br />
  
  <div class="card lexicon">
	<div class="card-header">
      Glossary
	</div>
	<div class="card-body">
	  <img src="/static/dothraki_stim/glossaries/{{ player.avatar }}_gloss.png" />
	</div>
  </div>
</div>

{{ endblock }}
