
{{ extends 'otree/WaitPage.html' }}

{% block styles %}
<link rel="stylesheet" href="{{ static 'global/dothraki.css' }}" type="text/css">
{% endblock %}


{{ block content }}
<div class="d-flex justify-content-center">
  <div class="my-avatar">
	<p>You are ..</p>
	<img class="avatar" src="/static/dothraki_stim/avatar/{{ player.participant.avatar }}_avatar.png" />
  </div>
  <div class="your-avatar">
	<p>.. talking to</p>
	<img class="avatar" src="/static/dothraki_stim/avatar/{{ player.avatar_partner }}_avatar.png" />
  </div>
</div>
<div class="d-flex justify-content-center">
  <p>Waiting for your partner to receive your message</p>
</div>
{{ endblock }}
