{{ block title }}Learn Dothraki{{ endblock }}

{% block styles %}
<link rel="stylesheet" href="{{ static 'global/dothraki.css' }}" type="text/css">
{% endblock %}
{{ block content }}

<div id="leftcol">

<div class="stimuli">
  {{ if prompt.tent }}<div class="tent" style="background-image: url('/static/dothraki_stim/{{ prompt.tent }}');"></div>
  {{ elif prompt.brother }}<div class="brother" style="background-image: url('/static/dothraki_stim/{{ prompt.brother }}');"></div>
  {{ endif }}
  
  {{ if prompt.walks }}
  <div class="walks">
    <div class="{{ prompt.flip }}" style="background-image: url('/static/dothraki_stim/{{ prompt.walks }}');"></div>
  {{ elif prompt.rides }}
	<div class="rides">
	  <div class="{{ prompt.flip }}" style="background-image: url('/static/dothraki_stim/{{ prompt.rides }}');"></div>
    {{ endif }}
	</div>
  </div>
  
<span>Your answer was</span>
<div class="card answer">
  <div class="card-body">
	{{ player.answer }}
	{{ if player.correct }}
	<img src="/static/icons/check-circle-fill.svg" class="green">
	{{ else }}
	<img src="/static/icons/x-circle-fill.svg" class="red">
	{{ endif }}
  </div>
</div>
{{ if player.correct }}
<p>This was CORRECT</p>
{{ else }}
<p>This was WRONG. The correct answer would have been:</p>
<div class="card answer">
  <div class="card-body">
	{{ correct_sentence }}
  </div>
</div>
<br />
{{ endif }}
{{ next_button }}


<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{percent_correct}}" aria-valuemin="0" aria-valuemax="100" style="background-color: #cdd8e3 !important;">
  <div class="progress-bar" style="width: {{percent_correct}}%">{{num_correct}} / {{goal}}</div>
</div>

</div>
<div id="rightcol">
  <div class="my-avatar">
	<p>You are ..</p>
	<img class="avatar" src="/static/dothraki_stim/training/{{ C.AVATAR_PLAYER }}_avatar+flag.png" />
  </div>
  <div class="your-avatar">
	<p>.. talking to</p>
	<img class="avatar" src="/static/dothraki_stim/training/{{ C.AVATAR_PARTNER }}_avatar+flag.png" />
  </div>

<div class="clearfix"></div>

{{ if show_full_grammar }}
<div class="card grammar">
  <div class="card-header">
    Grammar
  </div>
  <div class="card-body">
		<input type="checkbox" id="zoomCheck">
		<label for="zoomCheck">
		  {{ if treatment == 'high' }}
		<img src="{{ static 'dothraki_stim/grammar/Gram10_HP.png' }}" />
		{{ else }}
		<img src="{{ static 'dothraki_stim/grammar/Gram10_LP.png' }}" />
		{{ endif }}
    </label>
  </div>
</div>
{{ else }}

<div class="card lexicon">
  <div class="card-header">
    Glossary
	
  </div>
  <div class="card-body">
	<img src="/static/dothraki_stim/glossaries/A_gloss.png" />
  </div>
</div>
{{ endif }}
</div>
  {{ endblock }}
