{{ block title }}Learn Dothraki{{ endblock }}

{% block styles %}
<style>
.carousel-control-prev {
	left: -140px !important;
}

.carousel-control-next {
	right: -140px !important;
}

.carousel-indicators {
	bottom: -30px !important;
}
</style>
{% endblock %}

{{ block scripts }}
<script>
// adapted from https://blog.netgloo.com/2014/06/05/how-to-hide-carousel-controls-on-first-and-last-items-in-bootstrap-3/
var checkitem = function() {
  var $this;
  $this = $("#carouselExampleIndicators");
	if ($("#carouselExampleIndicators .carousel-inner .carousel-item:first").hasClass("active")) {
    $this.children(".carousel-control-prev").hide();
    $this.children(".carousel-control-next").show();
	} else if ($("#carouselExampleIndicators .carousel-inner .carousel-item:last").hasClass("active")) {
    $this.children(".carousel-control-next").hide();
    $this.children(".carousel-control-prev").show();
	} else {
    $this.children(".carousel-control-prev").show();
    $this.children(".carousel-control-next").show();
    // $this.children(".carousel-control").show();
  }
};

checkitem();

$("#carouselExampleIndicators").on("slid.bs.carousel", "", checkitem);
</script>
{{ endblock }}

{{ block content }}

<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-wrap="false" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
	  
	  <p>The experiment consists of two phases: </p>
	  <p>First you are presented with the Learning Phase, where you will be introduced to the language of Dothraki and go through multiple trials of training to help you acquire a set of words and grammatical constructions in Dothraki</p>
	  <p>After the learning phase, you will proceed to the Communication Game, where you will use your newly acquired Dothraki skills to communicate about visual scenes with other participants using a chat interface</p>
	  {{ if treatment == 'high' }}
	  <p>You have been assigned to receive extended training in Dothraki in phase 1 to give you the highest possible proficiency in the language. In the communication game you might encounter other characters with similar language skills or other characters that might be slightly less proficient in Dothraki.</p>
	  {{ else }}
	  <p>You have been assigned to receive a somewhat shortened phase of training in Dothraki in phase 1, which should still give you a good sense of the language. In the communication game you might encounter other characters with similar proficiencies in the language as you, or characters that might know the language better than you.</p>
	  {{ endif }}
	  <p>Let’s start learning some Dothraki! </p>

    </div>
    <div class="carousel-item">
	  
	  <h4>Phase #1: Learn how to speak Dothraki</h4>
	  <img src='{{ static "dothraki_stim/instructions/instruc_stim_1.png" }}' width="100%"/>
	  <p>During the learning phase, let’s pretend you play Arya Stark, and you are paired with Renly Baratheon. You will have to describe a scene from a first person perspective ("I"). You send it to Renly ("You") by typing a sentence in Dothraki and pressing send. The training ends once you've completed enough correct sentences</p>
	  <p>When you get to Phase #2, you will get a different character, but you will still be communicating with the same pronouns ("I", "You"). The other character will of course communicate from their perspective referring to the same characters as "You" and "I".</p>
	  <p>First, you are presented with a small set of Dothraki words corresponding to “I”, “you”, "they", “ride”, “walk”, “tent” and “brother”, and a few grammatical rules for how to combine and inflect the words to form sentences. This includes suffixes expressing things like “towards”, “away from” and “my” and “yours”. </p>
	  
    </div>
    <div class="carousel-item">
	  <p>Here you see the inventory of words and grammatical rules that you need to acquire in order to be able to communicate in Dothraki. Try your best to learn and remember these during the upcoming training sessions since they will be important for the later communication game (where you will not have access to the grammar anymore).</p>
	  <div class="card grammar">
		<div class="card-header">
		  Grammar
		</div>
		<div class="card-body">
      {{ if treatment == 'high' }}
		  <img src="{{ static 'dothraki_stim/grammar/Gram10_HP.png' }}" width="100%"/>
      {{ else }}
		  <img src="{{ static 'dothraki_stim/grammar/Gram10_LP.png' }}" width="100%"/>
      {{ endif }}
		</div>
	  </div>
	</div>
	<div class="carousel-item">
	  <p>During the first part of training, you have the full grammar sheet available. It shows you all the nouns and verbs you will encounter, and all the variations of grammatical inflections you will need. After you have successfully written 8 sentences in Dothraki, we will take away the grammar sheet to prepare you for communication game. For example, to describe the previous image, you would write "{{ example_sentence }}". Watch the animation below to see how to arrive at that sentence.</p>
	  
	  <p>
		  <video controls muted controlslist="nodownload" disablepictureinpicture preload width="100%">
        {{ if treatment == 'high' }}
		    <source src='{{ static "dothraki_stim/instructions/Instruc_Ver5_HP_Example1.mp4" }}'>
        {{ else }}
        <source src='{{ static "dothraki_stim/instructions/Instruc_Ver5_LP_Example1.mp4" }}'>
        {{ endif }}
		  </video>
	  </p>
    </div>
	
	<div class="carousel-item">
	  <p>Watch another animation example demonstrating how you combine words and grammar to construct sentences in Dothraki describing a different scene</p>
	  <p>
		  <video controls muted controlslist="nodownload" disablepictureinpicture preload width="100%">
        {{ if treatment == 'high' }}
		    <source src='{{ static "dothraki_stim/instructions/Instruc_Ver5_HP_Example2.mp4" }}'>
        {{ else }}
        <source src='{{ static "dothraki_stim/instructions/Instruc_Ver5_LP_Example2.mp4" }}'>
        {{ endif }}
		  </video>
	  </p>
  </div>

	<div class="carousel-item">
	  <p>This last video demonstrates how to speak about 3rd persons in Dothraki.</p>
	  <p>
		  <video controls muted controlslist="nodownload" disablepictureinpicture preload width="100%">
        {{ if treatment == 'high' }}
		    <source src='{{ static "dothraki_stim/instructions/Instruc_Ver5_HP_Example3.mp4" }}'>
        {{ else }}
        <source src='{{ static "dothraki_stim/instructions/Instruc_Ver5_LP_Example3.mp4" }}'>
        {{ endif }}
		  </video>
	  </p>
  </div>
	
	<div class="carousel-item">
	  <p>Next, you will go through a series of training trials. In each training trial, you will see an image of a simple scene and your task is to construct a sentence in Dothraki that accurately describes the scene. After you submit each sentence, you will receive feedback telling you if the sentence was correct or wrong, and if it is not correct you will see the correct solution. The training will proceed through {{ training_trials }} trials, and you will have the grammar available during the first 8. </p>
	  <p>Click next to stop reading and start learning Dothraki</p>
	  {{ next_button }}
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
  </button>
</div>


  {{ endblock }}
